@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --foreground: #111827;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-purple-primary: #6C5CE7;
  --color-purple-light: #7567F5;
  --color-navy-blue: #171E4F;
  --color-white: #FFFFFF;
  --color-gray-very-light: #F6F7F9;
  --color-gray-light: #E2E4E8;
  --color-gray-medium: #D1D4DA;
  --color-text-dark: #111827;
  --color-purple-soft: #635BFF;
}

body {
  background-color: var(--color-gray-very-light);
  color: var(--color-text-dark);
  font-family: ui-sans-serif, system-ui, sans-serif;
}
